.booking {
  grid-column: center-start / center-end;
  display: grid;
  // grid-template-columns: repeat(3, 10rem);
  // grid-template-rows: repeat(9, min-content);

  @media only screen and (max-width: $bp-large) {
    margin-top: 10rem;
  }
}

div.elem-group {
  margin: 20px 0;
}

div.elem-group.inlined {
  width: 49%;
  display: block;
  float: left;
  margin-left: 1%;
}

label {
  display: block;
  font-family: $font-display;
  padding-bottom: 10px;
  font-size: 1.5rem;
}

input,
select,
textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: $font-display;
  width: 100%;
  padding: 10px;
}

div.elem-group.inlined input {
  width: 95%;
  display: inline-block;
}

textarea {
  height: 250px;
}

hr {
  border: 1px solid $color-primary;
}

button:hover {
  background-color: $color-primary-light;
}

.booking-btn {
  height: 50px;
  width: 300px;
  background: $color-primary;
  border: none;
  color: white;
  font-size: 2em;
  font-family: $font-display;
  border-radius: 4px;
  cursor: pointer;
}
